html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(112, 107, 101)
}

header {
    background-color: #222;
    padding: 15px;
    color: white;
    text-align: center;
    padding-bottom: 0;
}

h1 {
    font-size: 28px;
}

header h1 {
    margin: 0;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    box-shadow: 0 2px 0 white;
}

main section {
    height: 320px;
    color: white;
    position: relative;
}

.content::before {
    background: url('https://alcosta.club/upload/resize_cache/webp/iblock/0c1/vacu6kye1snh6b3q52gd8fx2z75zjynz.webp') center/cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: brightness(30%);
    z-index: -1;
}

.mainter {
    width: 60%;
    padding: 50px;
    box-sizing: border-box;
}

.mainter h2 {
    margin-top: 0;
}

.mainter p {
    word-wrap: break-word;
    max-width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .mainter {
        width: 100%;
        padding: 30px;
    }

    header h1 {
        font-size: 1.2em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        gap: 30px;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateX(-23%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrivalsCenter h2 {
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

.arrivalsLeft h2 {
    background-color: #333;
    margin: 0;
    padding: 20px;
}

.wine-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 90px;
    padding: 90px;
    padding-top: 45px;
    background-color: rgb(112, 107, 101);
}

.wine-block {
    text-align: center;
    height: 200px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    cursor: pointer;
}

.wine-block img {
    width: 100%;
    height: 80%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.wine-image {
    width: 200px;
    height: 300px;
    display: inline-block;
}

.wine-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.wine-block p {
    margin-top: 1px;
    color: black;
}

.wine-block:hover {
    border: 2px solid rgba(0, 0, 0);
}

#wineDetails {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

#wineDetails h2 {
    font-size: 24px;
    margin-top: 10px;
    color: black;
}

.heading {
    display: inline-block;
    vertical-align: top;
}

#wineDetails p {
    margin-top: 10px;
    color: black;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 400px) {
    .wine-blocks {
        gap: 10px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 430px) {
    .wine-image {
        width: 100px;
        height: 150px;
    }
}

@media only screen and (max-width: 280px) {
    .wine-image {
        margin: 0 auto;
        display: block;
    }
}

.wine-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(27, 27, 27);
    height: auto;
}

.wine-fact {
    flex: 1;
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {
    .wine-intro {
        flex-direction: column;
        margin-right: 0;
    }
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    form {
        max-width: 100%;
    }
}